/* NAVBAR */

.navigation .navbar-brand{
  background-color: #0bada6;
  padding: inherit;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:white;
  text-decoration: none;
}
.navbar{
  max-height: 65px;
  background-color: white !important;
  font-size: 13px;
  color:black;
  font-weight: bold;
}
.active, .dropdown-menu .dropdown-item:active a:hover {
background-color: white;
}

.dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover {
background-color: lightsteelblue;
}

.nav-link:hover {
background-color: #ededed;
}


/* BODY */
body{
  background-color: #ededed;
  font-family: Arial, Helvetica, sans-serif;
}

/* TITLE */
.title{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding-top: 10px;
  color:#0bada6;
}


/*MAP CONTAINER*/
#map_container {
position: relative;
}


/* TEXT */
p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  padding: .5rem;
}

/* CONTAINER */
.box{
  padding: 1.1rem;
  margin-top: 50px;
  background-color: white;
}

/* TABLES */
.table{
  border-top-color: white;
  font-size: 13px;
}

/* IMAGES */
img{
  width: 100%;
}
.active, .panel:hover{
  border-style: solid;
}
.vizualization{
  width: 50%;
}

/* FOOTER */
footer {
  background-color: white;
  border-top-style: solid;
  border-top-width: 5px;
  border-top-color:#0bada6;
  color: #0bada6;
  min-height: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 15px;
  }

/* MOBILE */
@media(max-width: 850px){

  .navbar-expand-lg{
  background-color: #0bada6 !important;
  }
  
  .navbar{
      max-height: none;
      padding: inherit;
  }
  
  .navbar div{
      margin: inherit;
      background-color: white; 
  }
  
  .navbar-brand{
      padding: 10px !important;
      margin-left: 10px;
  }
  
  button{
      margin-right: 20px;
  }
  
  button:focus {
      outline: 1px dotted;
      outline: 5px auto -webkit-focusring-color;
      }
  }
